
<div class="container">
    <p>agregar</p>
    <div class="row">
      <div class="col-sm-6">
        <form>
         
          

          <div class="mb3">
            <label class="form-label">Nit</label>
            <input [(ngModel)]="Modelo.Nit" type="text" class="form-control" name="Nit">
          </div>
  
         
  
          <div class="mb3">
            <label class="form-label">Nombre</label>
            <input [(ngModel)]="Modelo.Nombre" type="text" class="form-control" name="Nombre">
          </div>
          <br>

          <div class="mb3">
            <label class="form-label">Apellido</label>
            <input [(ngModel)]="Modelo.Apellido" type="text" class="form-control" name="Apellido">
          </div>

          <div class="mb3">
            <label class="form-label">Edad</label>
            <input [(ngModel)]="Modelo.Edad" type="text" class="form-control" name="Edad">
          </div>

          <div class="mb3">
            <label class="form-label">Direccion</label>
            <input [(ngModel)]="Modelo.Direccion" type="text" class="form-control" name="Direccion">
          </div>

          <div class="mb3">
            <label class="form-label">Telefono</label>
            <input [(ngModel)]="Modelo.Telefono" type="text" class="form-control" name="Telefono">
          </div>

          <div class="mb3">
            <label class="form-label">NumeroVehiculo</label>
            <input [(ngModel)]="Modelo.NumeroVehiculo" type="text" class="form-control" name="NumeroVehiculo">
          </div>
          
          <br>
  
          <div class="mb10">
            <button (click)="modificar()" type="button" class="btn btn-danger">Guardar</button>
          </div>
  
        </form>
      </div>
      <div class="col-sm-6">
        <form>
          
  
         
  
          
  
          
  
        </form>
      </div>
  
    </div>
  
  </div>

