<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">
      <mat-toolbar>Menu</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item routerLink="/listapersona"> VEHICULO</a>
        <a mat-list-item routerLink="/listacurso">EVIDENCIA </a>
        <a mat-list-item routerLink="/listadocente">PAGO</a>
        <a mat-list-item routerLink="/listaestudiante">PERSONA</a>
        <a mat-list-item routerLink="/listarcursodocente">REVISION</a>
        <a mat-list-item routerLink="/listarestudiantecurso">TURNOS</a>
        
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>MUNICIPALIDAD</span>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  