<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container">
    <a class="navbar-brand" href="https://imgbb.com/" style="font-size: x-large;"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmRuHmwuQvRB7A9nOkdfNCVZsEQLNo-OLycGPXUQxtT1l5wrx8iZoQJpbhUvmzh8HjdWw&usqp=CAU" alt="Logo" height="80" width="100"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#inicio">Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#lugares">Lugares mas Visitados<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#garantias">Garantías<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#contactos">Contáctanos<span class="sr-only">(current)</span></a>
        </li>
      </ul>
     

    </div>
  </div>
</nav>
<div class="btn-group">
  <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false" >
      VISTAS
  </button>
  <div class="dropdown-menu" style="background-color: rgb(173, 219, 240);">
      

      
    
      <a class="dropdown-item" >RUTA</a>

      <a class="dropdown-item" >AVIONES</a>
  </div>
</div>

<div class="main-header" id="inicio">
  <div class="background-overlay text-white py-5">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center align-self-center">
          <h1 class="mt-5">TE OFRECEMOS EL MEJOR</h1>
          <h1>SERVICIO DE VIAJES</h1>
          <p>Airport Skyline te ofrece garantías y el mejor servicio de viajes que hay en el mercado.</p>
          <a href="#informacion1" class="btn btn-outline-warning btn-lg text-white mt-4">
            Leer Más
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
      style="height: 100%; width: 100%;">
      <path d="M-8.84,97.85 C162.71,204.44 228.74,107.73 505.83,32.73 L501.88,153.11 L0.00,150.00 Z"
        style="stroke: none; fill: rgba(233, 211, 103);"></path>
    </svg></div>
</div>

<section id="informacion1">
  <div class="info-header">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 mt-3">
          <a href="https://imgbb.com/"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmRuHmwuQvRB7A9nOkdfNCVZsEQLNo-OLycGPXUQxtT1l5wrx8iZoQJpbhUvmzh8HjdWw&usqp=CAU" alt="Mundo"></a>
        </div>
        <div class="col-sm-6 mt-3">
          <h1>¿Qué es lo que hacemos?</h1>
          <p>El servicio del aeropuerto Airport Skyline realiza servicios de operaciones a través de varias
            infraestructuras para el transporte de pasajeros y comerciales
            de forma internacional para lo cual disponemos de aduanas e inmigración que nos ayudará a la gestión de
            viajes entre los diferentes paises
            además con la disposición de los diferentes recursos podemos realizar una asistencia de embarque,
            desembarque y suministros
            por último en cuanto a los pasajeros se ofrece un servicio de facturación, para el control mediante el
            pasaporte y sus seguridad, además
            de priorizar aquellas personas con movilidad reducida y salas de viaje VIP para aquellos clientes que las
            soliciten.</p>
          <p></p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="informacion2">
  <div class="info-header">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 mt-3">
          <h1>¿Qué tipos de viajes ofrecemos?</h1>
          <p>Airport Skyline ofrecemos diferentes tipos de viajes ya sean nacionales e internacionales con diferentes
            lineas de comodidad.</p>
          <a href="#lugares" class="btn btn-outline-dark btn-lg text-black mt-3">
            Leer Más
          </a>
          <p class="py-2"></p>
        </div>
        <div class="col-sm-6 mt-3">
          <a href="https://imgbb.com/"><img src="https://i.ibb.co/WK7Xqr6/Avion.png" alt="Avion"></a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="lugares">
  <div class="container">
    <h1 class="titulo-serv py-4 align-self-center;">LUGARES MAS VISITADOS</h1>
    <section class="servicios-1">
      <div class="row">
        <div class="col-sm-4">
          <div class="galeria-transport">
            <div class="imagen-transport">
              <img
                src="https://content.skyscnr.com/m/747b83ab736f8e6b/original/GettyImages-515722479_doc.jpg?resize=1800px:1800px&quality=100"
                alt="">
              <div class="hover-galeria">
                <div class="container mt-2 text-center">
                  <h3>Machu Picchu, Perú</h3>
                  <p>Este santuario histórico construido durante la primera mitad del siglo XV,
                    es parada obligatoria para quienes decidan conocer Perú</p>
                  <a class="btn btn-outline-warning btn-sm" href="#headingOne" role="button">Más Detalles</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="galeria-transport">
            <div class="imagen-transport">
              <img src="https://content.skyscnr.com/e9f18d98773d244ceef7d45bc67f6ef8/GettyImages-523665439.jpg" alt="">
              <div class="hover-galeria">
                <div class="container mt-2 text-center">
                  <h3>Cristo Redentor, Brasil</h3>
                  <p>La estatua es conocida como Cristo Redentor y arroja su sombra sobre unos 1.8 millones de
                    visitantes por año. </p>
                  <a class="btn btn-outline-warning btn-sm" href="#headingTwo" role="button">Más Detalles</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="galeria-transport">
            <div class="imagen-transport">
              <img src="https://content.skyscnr.com/0fb8578abe113048d7ee9a9873dafe92/GettyImages-176421733.jpg" alt="">
              <div class="hover-galeria">
                <div class="container mt-2 text-center">
                  <h3>La Gran Muralla China</h3>
                  <p>Considerada una de las estructuras más grandes hechas por el hombre en el mundo,
                    la Gran Muralla China se extiende por más de 21.000 kilómetros. </p>
                  <a class="btn btn-outline-warning btn-sm" href="#headingTwo" role="button">Más Detalles</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>

<section id="garantias">
  <div class="min-garanty">
    <div class="background-overlay-garanty text-center">
      <div class="container">
        <h1 class="titulo-serv py-4 align-self-center;">GARANTÍAS</h1>
        <div class="row">
          <div class="col-sm-6 align-self-center">
            <div class="galeria-garanty">
              <div class="imagen-garanty">
                <a href="https://imgbb.com/"><img src="https://i.ibb.co/LYb9cXG/personal-seguro.png" alt="personal-seguro"></a>
                <div class="hover-galeria-garanty">
                  <div class="container mt-2 text-center">
                    <h3>Seguro De Pasajeros</h3>
                    <p>Nos encargamos de tus percances, te asistimos en el camino y tu destino está seguro con nosotros.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-6 align-self-center">
            <div class="galeria-garanty">
              <div class="imagen-garanty">
                <img src="" alt="">
                <div class="hover-galeria-garanty">
                  <div class="container mt-2 text-center">
                    <h3>Equipaje Aseguro</h3>
                    <p>El seguro de equipaje cubre los daños sufridos y robos durante el viaje</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<footer id="contactos">
  <div class="container">
    <div class="container-footer">
      <h1 class="titulo-serv py-4 align-self-center;">CONTACTANOS</h1>
      <section class="part-1">
        <div class="row">
          <div class="col-sm-6">
            <div class="content-foo">
              <h4>Direccion</h4>
              <p>Guatemala</p>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="content-foo">
              <h4>Whatsapp</h4>
              <p>+502 5984-7083</p>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="content-foo">
              <h4>Teléfono</h4>
              <p>5252-80022</p>
            </div>
          </div>
        </div>
      </section>
      <section class="part-2">
        <div class="row">
          <div class="col-sm-6">
            <div class="content-foo">
              <h4>Facebook</h4>
              <p>Facebook/airport-skyline</p>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="content-foo">
              <h4>Email</h4>
              <p>airport-skyline@gmail.com</p>
            </div>
          </div>
        </div>
      </section>
    </div>
    <h2 class="titulo-final">&copy; 2021-Designed by</h2>
  </div>
</footer>

<div class="main-header" id="#persona">
  <div class="col-sm-12 text-center align-self-center">
    <app-login></app-login>
</div>
</div>

