


<html lang="en">

<head>
 
</head>

<body  style="background-color: aqua">>
  <div class="container">


    <table class="table">
      <thead>
        <tr>
          
          <th scope="col">IdVehiculo</th>
          <th scope="col">NumeroVehiculo</th>
          <th scope="col">NumeroPlaca</th>
          <th scope="col">   Color </th>
          <th scope="col">NumeroLinea</th>
          
          <th scope="col">Editar</th>
          <th scope="col">Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let modelo of ListarModelos">
         
          <td>{{modelo.IdVehiculo}}</td>
          <td>{{modelo.NumeroVehiculo}}</td>
          <td>{{modelo.NumeroPlaca}}</td>

          <td>  {{modelo.Color}}  </td>

          <td>{{modelo.NumeroLinea}}</td>
          
          <td>
       
            <button (click)="modificar(modelo.NumeroPlaca)" type="button" class="btn btn-info">Editar</button>
          </td>
          <td>
            
            <button (click)="eliminar(modelo.NumeroPlaca)" type="button" class="btn btn-danger">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
   
    <button type="button" class="btn btn-info" (click)="Onnuevo()">AgregarPersona</button>
    <button type="button" class="btn btn-dark" (click)="retornar()" style="margin: 10px" >RETORNAR</button>
    

  </div>

</body>
</html>


