

 <nav class="navbar navbar-expand-lg bg-light" >
    <div class="container-fluid" >
      <a class="navbar-brand" href="#" ></a>
      
      <div class="collapse navbar-collapse" id="navbarNav" class='text-align:right'  >
        <div  class="navbar-nav ml-auto"  clas="Text-white" font color="white">
          <a class="nav-link " routerLink="navuser" routerLinkActive="active"  >Usuarios</a>
          <a class="nav-link" routerLink="login" routerLinkActive="active" >Login</a>
          <a class="nav-link" routerLink="home" routerLinkActive="active" >Home</a>
          <a class="nav-link" routerLink="private" routerLinkActive="active">Private</a>
         
        </div>
      </div> 
    </div>
  </nav>

<router-outlet></router-outlet>
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">


<!--style=" background-color:rgb(34, 95, 151)"-->

