

<html lang="en">

    <head>
     
    </head>
    
    <body>
      <div class="container">
    
    
        <table class="table">
          <thead>
            <tr>
              
              <th scope="col">IdTurno</th>
              <th scope="col">FechaInicio</th>
              <th scope="col">FechaFin</th>
              <th scope="col"> NumeroTurno </th>
              <th scope="col">Editar</th>
              <th scope="col">Eliminar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let modelo of ListarModelos">
             
              <td>{{modelo.IdTurno}}</td>
              <td>{{modelo.FechaInicio}}</td>
              <td>{{modelo.FechaFin}}</td>
              <td>{{modelo.NumeroTurno}}</td>
             
    
              
              
              <td>
           
                <button (click)="modificar(modelo.IdTurno)" type="button" class="btn btn-info">Editar</button>
              </td>
              <td>
                
                <button (click)="eliminar(modelo.IdTurno)" type="button" class="btn btn-danger">Eliminar</button>
              </td>
            </tr>
          </tbody>
        </table>
       
        <button type="button" class="btn btn-info" (click)="Onnuevo()">AgregarPersona</button>
        <button type="button" class="btn btn-dark" (click)="retornar()" style="margin: 10px" >RETORNAR</button>
    
      </div>
    
    </body>
    </html>
    
    